
$pure_white: #fff;
$pure_black: #000;
$background_color: #010525;
$pink: #FA8BFF;
$blob_pink: #CE1CE6;
$blob_yellow: #E1E424;
$light_blue: #2BD2FF;
$bright_green: #2BFF88;
$title_gradient: linear-gradient(90deg, $pink 0%, $light_blue 52%, $bright_green 90%);
$text_color: #e3e9ff;
$gray: #b9c4dd;